body {
    margin: 0;
    font-family: 'Times New Roman';
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: yellowgreen;
    width: 200px; 
    top: 100%; 
    left: 0;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 4px;
}

.dropdown-content a {
    color: brown;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: blue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black; 
    transition: background-color 0.3s ease-in-out;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

#navbar ul li {
    display: inline;
    margin-right: 20px;
}

#navbar ul li a {
    text-decoration: none;
    color: pink;
    font-weight: bold;
    transition: color 0.3s ease-in-out; 
}

#navbar ul li a.active {
    color: orange; 
}

#navbar ul li a:hover {
    color: orange; 
}
